<h1>Invoices</h1>
<table>
  <tr>
    <th>Invoice Id</th>
    <th>Customer</th>  
  </tr>
  
  # <%= render :partial => "invoice", :collection => @invoices, :as => :invoice %>
  <%= render(@invoices) || "No Invoices"%>
</table>